* {
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    background: #00D2AF;
    padding: 20px 0;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.header-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body {
    background: #f5f5f5;
}

ul {
    list-style-type: none;
    width: auto;
    flex-wrap: wrap;
    display: flex;
}

ul li {
    flex: 1 0 20%;
    background: #FAFAFA;
}

li img {
    max-width: 100%;
}

li {
    padding: 10px;
    overflow: auto;
    border: 1px solid #dadada;
}

.container {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    width: 1024px;
    position: relative;
    margin: 0 auto;
    padding: 0;
}

.faculties-info {
    border-radius: 6px;
    margin: 30px;
}

a .site-logo {
    display: inline-block;
}

.site-logo img {
    max-width: 100%;
    height: auto;
    width: 250px;
    margin-left: 50px;
}

.logo-user {
    display: flex;
    background: #00bd9d;
    height: 120px;
}

.user-description {
    font-family: 'Roboto', sans-serif;
    padding: 20px 10px 10px 10px;
    font-size: 18px;
    line-height: 1;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    margin-top: 15px;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.role {
    margin-left: 40px;
}

.faculty {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    justify-content: center;
}

.faculty-img {
    float: left;
    margin: 0 10px 0 10px;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-size: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.img-config {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faculty-img img {
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
}

.enrollee-info-description {
    width: 41.5%;
    padding: 10px;
    align-items: center;
}

.enrollee-info-fullname {
    border-right: 3px groove #f5f5f5;
    margin: 0 10px 0 10px;
    padding: 40px 10px 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enrollee-info-fullname h2 {
    color: #0B444D;
}

.faculty-info-img {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.faculty-info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.faculty-info-row-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #777777;
}

.faculty-info-row-description {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777777;
}

.faculty-info-row-description a {
    color: #0B444D;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.faculty-info-row-description a:hover {
    color: black;
}

.username {
    width: 450px;
    text-align: right;
}

.faculty-name {
    width: 210px;
    height: 80px;
    text-align: center;
    color: black;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

.logout-btn {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 62px;
    border-radius: 3px;
    background: #0B444D; /*97B7DE*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.logout-btn:hover {
    background: #333333;
}

.faculties {
    padding: 10px 0 20px 0;
}

.faculties li {
    padding: 40px 20px 30px 20px;
    left: 1.5em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    margin-left: 20px;
    margin-right: 20px;
}

.bottom-footer {
    text-align: center;
    padding: 40px 0;
    background: #00D2AF;
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.logout {
    margin-top: 15px;
    margin-right: 50px;
}