* {
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    background: #00D2AF;
    padding: 20px 0;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.header-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body {
    background: #f5f5f5;
}

ul {
    list-style-type: none;
    width: auto;
    background: #f5f5f5;
}

li img {
    max-width: 100%;
}

li {
    padding: 10px;
    overflow: auto;
    margin-bottom: 30px;
    border: 1px solid #dadada;
}

.container {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    width: 1024px;
    position: relative;
    margin: 0 auto;
    padding: 0;
}

.enrollees-info {
    margin: 30px;
}

a .site-logo {
    display: inline-block;
}

.site-logo img {
    max-width: 100%;
    height: auto;
    width: 250px;
    margin-left: 50px;
}

.logo-user {
    display: flex;
    background: #00bd9d;
    height: 120px;
}

.user-description {
    font-family: 'Roboto', sans-serif;
    padding: 20px 10px 10px 10px;
    font-size: 18px;
    line-height: 1;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    margin-top: 15px;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-avatar {
    width: 56px;
    height: 56px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.user-avatar img {
    width: 100%;
    height: auto;
}

.role {
    margin-left: 40px;
}

.enrollee {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    justify-content: center;
}

.enrollee-img {
    float: left;
    margin: 0 10px 0 10px;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-size: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.img-config {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enrollee-img img {
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
}

.enrollee-info-description {
    width: 41.5%;
    padding: 10px;
    align-items: center;
}

.enrollee-info-fullname {
    margin: 0 10px 0 10px;
    padding: 40px 10px 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.fullname {
    width: 230px;
    text-align: center;
}

.enrollee-info-fullname h3 {
    color: #0B444D;
}

.enrollee-info-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.username {
    width: 450px;
    text-align: right;
}

.user-info-row-discription {
    text-align: right;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

.logout-btn, .notificate-enrollee {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    border-radius: 3px;
    background: #0B444D; /*97B7DE*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.logout-btn:hover,
.notificate-enrollee:hover,
.show-enrolleed-students:hover {
    background: #333333;
}

.logout-btn {
    height: 62px;
}

.notificate-enrollee {
    height: 50px;
}

.enrollees {
    padding: 10px 0 20px 0;
}

.enrollees li {
    padding: 40px 20px 30px 20px;
    left: 1.5em;
    background: #fff;
}

.score {
    color: white;
    background: #0B444D;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    width: 40px;
    height: 30px;
    border-radius: 3px;
}

.bottom-footer {
    text-align: center;
    padding: 40px 0;
    background: #00D2AF;
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.logout {
    margin-top: 15px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.no-enrollees {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0 0 100px 0;
    padding: 50px 0 50px 0;
    background: #fff;
    border: 1px solid #dadada;

}

.no-enrollees-description {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.form-show-enrolled {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.show-enrolleed-students {
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    border-radius: 3px;
    background: #0B444D; /*97B7DE*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    height: 50px;
}

.goToFacultiesList {
    margin-bottom: 25px;
    text-align: right;
}

.goToFacultiesList a {
    font-size: 16px;
    color: #0B444D;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.goToFacultiesList a:hover {
    color: black;
}

.btn-back-to-faculty {
    width: 30%;
}